/.vs/GunsAndPans/FileContentIndex
/.vs/GunsAndPans/v17
/x64/Debug/GunsAndPans.pdb
/GunsAndPans/x64/Debug/GunsAndPans.tlog
/GunsAndPans/x64/Debug
/SourceCode/x64/Debug/GunsAndPans.pdb
/SourceCode/.vs/GunsAndPans/FileContentIndex
/SourceCode/.vs/GunsAndPans/v17
/SourceCode/GunsAndPans/x64/Debug/GunsAndPans.tlog
/SourceCode/GunsAndPans/x64/Debug
/SourceCode/x64/Release/GunsAndPans.pdb
/SourceCode/GunsAndPans/x64/Release/GunsAndPans.tlog
/SourceCode/GunsAndPans/x64/Release
/SourceCode/.vs/GunsAndPans/v16
/SourceCode/GunsAndPans/Release/GunsAndPans.tlog
/SourceCode/GunsAndPans/Release
/BinForRun/GunsAndPans.exe
/BinForRun/Sounds/SoundFinish.wav
/BinForRun/Sounds/SoundPlay.wav
/BinForRun/Sounds/SoundShoot.wav
/BinForRun/Sounds/SoundStart.wav
/BinForRun/Sounds/SoundTarget.wav
/BinForRun/Textures/ImageAmmunitions00.bmp
/BinForRun/Textures/ImageAmmunitions01.bmp
/BinForRun/Textures/ImageAmmunitions02.bmp
/BinForRun/Textures/ImageAmmunitions03.bmp
/BinForRun/Textures/ImageAmmunitions04.bmp
/BinForRun/Textures/ImageAmmunitions05.bmp
/BinForRun/Textures/ImageAmmunitions06.bmp
/BinForRun/Textures/ImageAmmunitions07.bmp
/BinForRun/Textures/ImageAmmunitions08.bmp
/BinForRun/Textures/ImageAmmunitions09.bmp
/BinForRun/Textures/ImageAmmunitions10.bmp
/BinForRun/Textures/ImageBullet1.bmp
/BinForRun/Textures/ImageFinish1.bmp
/BinForRun/Textures/ImageGround1.bmp
/BinForRun/Textures/ImageGun1.bmp
/BinForRun/Textures/ImageStart1.bmp
/BinForRun/Textures/ImageTarget1.bmp
/BinForRun/Textures/ImageTarget2.bmp
/BinForRun/Textures/ImageTarget3.bmp
/BinForRun/freeglut.dll
/GunsAndPans_BinForRun_Win64_v1.0.0.zip
/GunsAndPans_BinForRun_Win64_v1.0.1.zip
/GunsAndPans_BinForRun_Win64_v1.5.0.zip
/BinForRun/Textures/ImageTarget4.bmp
/BinForRun/Textures/ImageTarget5.bmp
/BinForRun/Textures/ImageTarget6.bmp
/BinForRun
/GunsAndPans_BinForRun_Win64_v1.6.0.zip
/SourceCode/x64/Debug/GunsAndPans.exe
/SourceCode/x64/Release/GunsAndPans.exe
