/.vs/GunsAndPans/FileContentIndex
/.vs/GunsAndPans/v17
/x64/Debug/GunsAndPans.pdb
/GunsAndPans/x64/Debug/GunsAndPans.tlog
/GunsAndPans/x64/Debug
/SourceCode/x64/Debug/GunsAndPans.pdb
/SourceCode/.vs/GunsAndPans/FileContentIndex
/SourceCode/.vs/GunsAndPans/v17
/SourceCode/GunsAndPans/x64/Debug/GunsAndPans.tlog
/SourceCode/GunsAndPans/x64/Debug
